<ng-container *ngIf="tutorDetail">
  <h2>
    {{tutorDetail.firstName}} {{tutorDetail.lastName}}
    <app-ap-tutor-status *ngIf="tutorDetail.status === 'new'" [status]="tutorDetail.status"></app-ap-tutor-status>
    <fa-icon class="ml-2 text-success" *ngIf="tutorDetail.isVerified" [icon]="faCheckCircle"></fa-icon>
  </h2>
  <div class="text-center">
    <img [src]="getProfilePicture(tutorDetail.profilePicture)"
         alt="Profilbild"
         class="img-fluid rounded-circle border"
         width="250px"
         height="250px">
    <hr>
    <div class="d-flex justify-content-around align-items-center">
      <button *ngIf="tutorDetail.status === tutorStatus.NEW" class="btn btn-success" (click)="activateTutor()">
        Freigeben
      </button>
      <div *ngIf="tutorDetail.status !== tutorStatus.NEW">
        Status:
        <span class="custom-control custom-switch">
        <input type="checkbox"
               class="custom-control-input"
               id="status-switch"
               [checked]="tutorDetail.status === tutorStatus.ACTIVATED"
               (change)="changeStatus($event)">
        <label class="custom-control-label cursor-pointer"
               for="status-switch">{{tutorDetail.status | tutorStatus}}</label>
        </span>
      </div>
      <div>
        Verifiziert:
        <span class="custom-control custom-switch">
          <input type="checkbox"
                 class="custom-control-input"
                 id="verification-switch"
                 [checked]="tutorDetail.isVerified"
                 (change)="changeVerification($event)">
          <label class="custom-control-label cursor-pointer"
                 for="verification-switch">{{tutorDetail.isVerified ? 'Ja' : 'Nein'}}</label>
          </span>
      </div>
    </div>
    <hr>
  </div>
  <form class="mt-5" [formGroup]="tutorDetailForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="firstName">Vorname</label>
        <input type="text" id="firstName" name="firstName" class="form-control" [formControl]="firstName">
      </div>
      <div class="form-group col-md-6">
        <label for="lastName">Name</label>
        <input type="text" id="lastName" name="lastName" class="form-control" [formControl]="lastName">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="email">E-Mail</label>
        <input type="text" id="email" name="email" class="form-control" [formControl]="email">
      </div>
      <div class="form-group col-md-6">
        <label for="mobileNumber">Mobiltelefon</label>
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text">+41</div>
          </div>
          <input type="text" id="mobileNumber" name="mobileNumber" class="form-control" [formControl]="mobileNumber">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <app-birthday-input [formControl]="birthday"></app-birthday-input>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-12">
        <label for="street-address">Adresse und Hausnummer</label>
        <input type="text" id="street-address" name="street-address" class="form-control" [formControl]="streetAddress">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-3">
        <label for="postalCode">PLZ</label>
        <input type="text" id="postalCode" name="postalCode" class="form-control" [formControl]="postalCode">
      </div>
      <div class="form-group col-9">
        <label for="city">Ort</label>
        <input type="text"
               id="city"
               name="city"
               class="form-control"
               autocomplete="autocomplete_disabled"
               [formControl]="city"
               [ngbTypeahead]="searchLocation"
               [inputFormatter]="locationFormatterForm">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-lg-6">
        <label for="subjects">Fächer</label>
        <select multiple id="subjects" name="subjects" class="form-control" [formControl]="subjects">
          <option *ngFor="let sub of subjectOptions" [value]="sub">{{sub}}</option>
        </select>
      </div>
      <div class="form-group col-lg-6">
        <label for="gradeLevels">Klasse</label>
        <select multiple id="gradeLevels" name="gradeLevel" class="form-control" [formControl]="gradeLevels">
          <option *ngFor="let gradeLevel of gradeLevelOptions" [value]="gradeLevel">{{gradeLevel}}</option>
        </select>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-lg-6">
        <label>Tag</label><br>
        <div class="btn-group btn-group-toggle mt-2 ml-n1">
          <label class="btn-primary" ngbButtonLabel>
            <input id="day-monday" name="day" type="checkbox" ngbButton [formControl]="monday">
            Montag
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input id="day-tuesday" name="day" type="checkbox" ngbButton [formControl]="tuesday">
            Dienstag
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input id="day-wednesday" name="day" type="checkbox" ngbButton [formControl]="wednesday">
            Mittwoch
          </label>
        </div>
        <div class="btn-group btn-group-toggle mt-2 ml-n1">
          <label class="btn-primary" ngbButtonLabel>
            <input id="day-thursday" name="day" type="checkbox" ngbButton [formControl]="thursday">
            Donnerstag
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input id="day-friday" name="day" type="checkbox" ngbButton [formControl]="friday">
            Freitag
          </label>
        </div>
        <div class="btn-group btn-group-toggle mt-2 ml-n1">
          <label class="btn-primary" ngbButtonLabel>
            <input id="day-saturday" name="day" type="checkbox" ngbButton [formControl]="saturday">
            Samstag
          </label>
          <label class="btn-primary" ngbButtonLabel>
            <input id="day-sunday" name="day" type="checkbox" ngbButton [formControl]="sunday">
            Sonntag
          </label>
        </div>
      </div>
      <div class="form-group col-lg-6 ml-n1">
        <label for="price">Preis (pro Stunde)</label>
        <input type="range" id="price" name="price" class="custom-range" [formControl]="price" min="0"
               max="20">
        <small class="form-text text-muted h6 font-weight-light"
               *ngIf="price.value > 0">
          Aktueller Preis: {{price.value * 5}}.-
        </small>
      </div>
    </div>
  </form>

  <h6>Legi</h6>
  <div class="form-row">
    <div class="form-group col-lg-6 text-center">
      <img class="cursor-pointer student-card-img"
           [src]="tutorDetail.studentCardFront.downloadUrl"
           title="Legi Vorderseite"
           alt="Legi Vorderseite"
           appImageView
           [imageViewSrc]="tutorDetail.studentCardFront.downloadUrl"
           imageViewTitle="Legi Vorderseite">
    </div>
    <div class="form-group col-lg-6 text-center">
      <img class="cursor-pointer student-card-img"
           [src]="tutorDetail.studentCardBack.downloadUrl"
           title="Legi Rückseite"
           alt="Legi Rückseite"
           appImageView
           [imageViewSrc]="tutorDetail.studentCardBack.downloadUrl"
           imageViewTitle="Legi Rückseite">
    </div>
  </div>
</ng-container>





