<div class="row my-4">
  <div class="col-12 text-center text-md-left">
    <h1>stay smart</h1>
    <hr>
    <p>Die Schulzeit ist einer der wichtigsten Abschnitte unseres Lebens. Damit die Kinder und Jugendlichen
      das Beste aus der Schule mitnehmen können, möchten wir mit www.staysmart.ch einfach
      Nachhilfenvermittlung anbieten!</p>
    <p class="d-none d-sm-block">
      Möchten Sie gerne Nachhilfe anbieten? Melden Sie sich an und helfen Sie in Ihren stärksten Fächern
      anderen Personen weiter! Weitere Informationen finden Sie unter „Nachhilfe anbieten“.
      Wir freuen uns auf Sie!
      <br><br>
      Stay smart, stay young.
    </p>
  </div>
</div>
<div class="row">
  <div class="col">
    <h2 class="text-center text-md-left">Wie funktioniert stay smart?</h2>
  </div>
</div>
<hr>
<div class="row mt-md-5 text-center">
  <div class="col-md-6 text-secondary text-md-right mt-3 pr-md-4">
    <h2>Unferbindliche Anfrage erstellen</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua.</p>
    <p></p>
  </div>
  <div class="col-md-6 text-md-left mb-3 mt-md-3 pl-md-4">
    <img class="img-fluid" data-src="holder.js/200x200/auto" alt="300x300" style="width: 200px; height: 200px;"
      src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16bad5fa5eb%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16bad5fa5eb%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.13333129882812%22%20y%3D%22261.27999954223634%22%3E300x300%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
      data-holder-rendered="true">
  </div>
</div>
<div class="row mt-md-5 text-center order-md-1 flex-column-reverse flex-md-row">
  <div class="col-md-6 text-md-right mb-3 mt-md-3 pr-md-4">
    <img class="img-fluid" data-src="holder.js/200x200/auto" alt="300x300" style="width: 200px; height: 200px;"
      src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16bad5fa5eb%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16bad5fa5eb%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.13333129882812%22%20y%3D%22261.27999954223634%22%3E300x300%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
      data-holder-rendered="true">
  </div>
  <div class="col-md-6 text-secondary text-md-left order-md-12 mt-3 pl-md-4">
    <h2>Passender Nachhilfelehrer wird gesucht</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua.</p>
  </div>
</div>
<div class="row mt-md-5 text-center">
  <div class="col-md-6 text-secondary text-md-right mt-3 pr-md-4">
    <h2>Offerten annehmen</h2>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et
      dolore magna aliquyam erat, sed diam voluptua.</p>
  </div>
  <div class="col-md-6 text-md-left mb-3 mt-md-3 pl-md-4">
    <img class="img-fluid" data-src="holder.js/200x200/auto" alt="300x300" style="width: 200px; height: 200px;"
      src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_16bad5fa5eb%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_16bad5fa5eb%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.13333129882812%22%20y%3D%22261.27999954223634%22%3E300x300%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
      data-holder-rendered="true">
  </div>
</div>

<div class="row my-md-5 mt-3">
  <div class="col-12 col-md-6 p-0 px-md-3 mb-sm-4">
    <div class="overlay-image">
      <a [routerLink]="['/anfragen']"><img src="assets/img/anfragen_unscharf.png" class="img-fluid" alt="anfragen">
        <div class="text">Nachhilfe suchen</div>
      </a>
    </div>
  </div>
  <div class="col-12 col-md-6 p-0 px-md-3 mb-sm-4">
    <div class="overlay-image">
      <a [routerLink]="['/anbieten']"><img src="assets/img/anbieten_unscharf.png" class="img-fluid" alt="anbieten">
        <div class="text">Nachhilfe anbieten</div>
      </a>
    </div>
  </div>
</div>
