<ng-container *ngIf="!hasAcceptedOffer">
  <h2 class="mt-4">Offerten</h2>
  <ng-container *ngIf="tutorSearchRequest$ | async as tutorSearchRequest">
    <div *ngFor="let tutorSearchRequestOffer of tutorSearchRequest.tutorSearchRequestOffers" class="my-4">
      <app-tutor-search-request-offer [tutorSearchRequestOffer]="tutorSearchRequestOffer"
                                      (accepted)="acceptOffer(tutorSearchRequestOffer, tutorSearchRequest)"
                                      (declined)="declineOffer(tutorSearchRequestOffer, tutorSearchRequest.tutorSearchRequestData.id)">
      </app-tutor-search-request-offer>
    </div>

    <div *ngIf="tutorSearchRequest.tutorSearchRequestOffers?.length === 0" class="row mt-4">
      <div class="col-8 offset-2 text-center mt-4">
        <h4>Du hast noch keine Offerte erhalten.</h4>
        <!--TODO Graphic-->
        <p class="mt-4">Wir senden dir ein E-Mail sobald du eine neue Offerte erhalten hast.</p>
      </div>
    </div>
  </ng-container>
</ng-container>

<ng-container *ngIf="hasAcceptedOffer">
  <div class="row mt-4">
    <div class="col-8 offset-2 text-center mt-2">
      <h1>Offerte angenommen</h1>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 text-center">
      <fa-icon [icon]="faCheck" size="8x" style="color: #449D44"></fa-icon>
    </div>
  </div>
  <div class="row mt-4 mb-5">
    <div class="col-8 offset-2 text-center">
      <h6>Super!
        Du hast die Offerte angenommen und wirst von deinem neuen Nachhilfelehrer per Telefon kontaktiert.</h6>
    </div>
  </div>
</ng-container>




