<ng-container *ngIf="tutorSearchRequest$ | async as tutorSearchRequest">
  <div>
    <h4>TutorSearchRequestContactData</h4>
    <pre>{{tutorSearchRequest.tutorSearchRequestContactData | json}}</pre>
  </div>
  <div>
    <h4>TutorSearchRequestData</h4>
    <pre>{{tutorSearchRequest.tutorSearchRequestData | json}}</pre>
  </div>
  <div *ngFor="let tutorSearchRequestOffer of tutorSearchRequest.tutorSearchRequestOffers" class="my-4">
    <app-tutor-search-request-offer [tutorSearchRequestOffer]="tutorSearchRequestOffer"
                                    (accepted)="acceptOffer(tutorSearchRequestOffer, tutorSearchRequest)"
                                    (declined)="declineOffer(tutorSearchRequestOffer, tutorSearchRequest.tutorSearchRequestData.id)">
    </app-tutor-search-request-offer>
  </div>
</ng-container>


