<div class="card cursor-pointer">
  <div class="card-body">
    <div class="row no-gutters px-3 px-md-4 px-xl-5">
      <div class="col">
        <h5 class="card-title">{{tutorSearchRequestData?.firstName}} {{tutorSearchRequestData?.lastName}}</h5>
        <h6 class="card-subtitle">{{tutorSearchRequestData?.subject}} | {{tutorSearchRequestData?.location.label}}</h6>
      </div>
      <div class="col-1 d-flex align-items-center justify-content-end">
        <app-request-status [status]="tutorSearchRequestData?.status"></app-request-status>
      </div>
    </div>
  </div>
  <div class="card-footer py-1">
    <small class=" px-3 px-md-4 px-xl-5">
      Erstellt am: {{tutorSearchRequestData?.timestamp.toDate() | date: 'medium'}}
    </small>
  </div>
</div>
