<div class="row">
  <div class="col-12 mb-4">
    <h1>Über uns</h1>
    <hr>
    <p>Unser Projekt startete, unter anfänglicher Aufsicht der Jugendkommission Greifensee, im Jahre 2014. Im Jahre 2017
      sind wir unter deren Fittiche ausgetreten und haben einen Verein gegründet. Wir arbeiten jetzt zwar eigenständig,
      jedoch mit grosszügiger Unterstützung unserer Gönner und Sponsoren.</p>
    <h2>Unsere Vision</h2>
    <hr>
    <p><i>«Der Verein bezweckt die Unterhaltung einer Internetplattform (www.staysmart.ch). Diese ermöglicht, dass alle
      Schüler/innen ab der 1. Primarklasse die Möglichkeit erhalten, mit geringem Budget, Nachhilfeunterricht zu nehmen.</i><br><br>
      Im Gegenzug sollen Jugendliche und junge Erwachsene in Ausbildung die Möglichkeit erhalten, Nachhilfeunterricht,
      ohne Vermittlungs- oder Mitgliedergebühren, anzubieten» (Auszug aus den Statuten)<br>
      Von dieser Tatsache wird es uns ermöglicht, die Preise für Nachhilfe möglichst tief zu halten, da die Gebühren
      nicht auf unsere Nachhilfesuchende abgewälzt werden.<br>
      Wir möchten dieser und kommenden Generationen die Bildung vermitteln, die sie verdient. Jeder sollte sich die
      Unterstützung holen können, die gebraucht wird, um in unserem Bildungssystem zu brillieren.<br>
      Momentan stehen hinter dem Verein stay smart 13 aktive Mitglieder, die in verschiedenen Felder diese Website
      verwalten. Wir bemühen uns, einen guten Kundenkontakt zu pflegen und auch unseren Anbietern eine vertrauensvolle
      Plattform für ihre Dienste zu Verfügung zu stellen. Unser Team ist sehr jung und familiär, was uns hilft, diese
      Arbeit mit Freude zu erledigen. Alle aktiven Mitglieder arbeiten in Ihrer Freizeit, um Ihnen die Möglichkeit zu
      bieten, Bildung zu erhalten.* </p>
      <p>Bei Fragen und Anregungen schreiben Sie uns einfach an diese Email: <a href="mailto:info@staysmart.ch">info@staysmart.ch</a></p>
  </div>
</div>