<div class="wrapper">
  <div>
    <nav class="navbar navbar-expand-md navbar-dark custom-navbar">
      <span class="navbar-brand">
        <img src="assets/img/logo.png" width="32" height="32" class="d-inline-block align-top" alt="stay smart logo">
        Anbieter-Portal
      </span>
    </nav>
    <div class="container">
      <form *ngIf="!submitted" class="row justify-content-center mt-4" [formGroup]="resetPasswordForm"
            (ngSubmit)="sendPasswordResetEmail()">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 shadow p-4 rounded">
          <h3 class="text-center">Anbieter-Portal Passwort zurücksetzen</h3>
          <hr>
          <div class="form-group">
            <input type="email" class="form-control" id="email" placeholder="E-mail" formControlName="email">
          </div>
          <div class="form-group">
            <button class="btn btn-primary btn-block" type="submit" [disabled]="resetPasswordForm.invalid">
              <span *ngIf="!isLoading">Link an E-mail senden</span>
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
                <span class="sr-only">Loading...</span>
              </span>
            </button>
          </div>
          <div class="text-center">
            <a [routerLink]="['../login']" class="text-decoration-none">Zurück zum Login</a>
          </div>
        </div>
      </form>
      <div *ngIf="submitted" class="row justify-content-center mt-4">
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-7 shadow p-4 rounded text-center">
          <div class="form-group">
            <h5>Passwort Zurücksetzungslink wurde an '{{resetPasswordForm.value.email}}' versendet</h5>
          </div>
          <button class="btn btn-primary btn-block" [routerLink]="['../login']">
            Zurück
          </button>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="m-3">2019 - stay smart</p>
        </div>
        <div class="col-3 d-flex justify-content-end my-auto">
          <img src="assets/img/logo.png" width="40" height="40" class="d-inline-block align-top" alt="stay smart logo">
        </div>
      </div>
    </div>
  </footer>
</div>
