<div class="row">
  <div class="col-12">
    <h1>Nachhilfe von stay smart</h1>
    <hr>
    <p> Unsere Nachhilfeanbieterinnen und Nachhilfeanbieter helfen Schülerinnen und Schülern allfällige Probleme mit
      dem Schulstoff zu bewältigen. Sie stehen dir auch bei den täglichen Hausaufgaben mit hilfreichen
      Ratschlägen zur Seite.
      <br><br>Die meisten von unseren Anbietern studieren an der ETH, der Uni, den Fachhochschulen oder besuchen
      die BMS oder das Gymnasium. Sie sind mit den Schwierigkeiten des Schulalltags bestens bekannt und kennen
      verschiedenen Strategien, um diesen zu bewältigen.
      <br>Alle unsere Anbieter lernen wir in einem persönlichen Gespräch kennen.
      <br><br>Den maximalen Preis kannst du festlegen. Folglich suchen wir nach einem Anbietenden der unter
      deiner Preisgrenze liegt. Aktuell liegen die Preise der Anbieter/innen zwischen 20 und 50 Franken pro
      Lektion.<br>Unser Vermittlungsservice ist vollkommen kostenlos!</p>
    <hr>
  </div>
</div>

<div class="form-wrapper" *ngIf="!submitted">
  <div class="row mt-md-4 mt-3">
    <div class="col-12 col-md-10 offset-md-1">
      <form [formGroup]="requestForm" (ngSubmit)="onSubmit()">

        <app-stepper linear>
          <cdk-step [completed]="step1Completed">
            <div class="formStep" id="f1">
              <div class="form-row" formGroupName="general">
                <div class="form-group col-lg-6">
                  <label for="firstname">Vorname</label>
                  <input type="text" id="firstname" name="firstname" class="form-control" formControlName="firstname">
                </div>
                <div class="form-group col-lg-6">
                  <label for="name">Name</label>
                  <input type="text" id="name" name="name" class="form-control" formControlName="name">
                </div>
                <div class="form-group col-lg-6">
                  <label for="mail">Email</label>
                  <input type="text" id="mail" name="mail" class="form-control" formControlName="mail">
                  <small *ngIf="step1.get('mail').invalid && (step1.get('mail').dirty
                  || step1.get('mail').touched)" class="form-text text-danger">
                    Keine gültige Email eingegeben
                  </small>
                </div>
                <div class="form-group col-lg-6">
                  <label for="phone">Mobiltelefon</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">+41</div>
                    </div>
                    <input type="text" id="phone" name="phone" class="form-control" formControlName="phone">
                  </div>
                  <small *ngIf="step1.get('phone').invalid && (step1.get('phone').dirty || step1.get('phone').touched)"
                    class="form-text text-danger">
                    Die Telefonnummer ohne führende 0 eingeben
                  </small>
                </div>
                <div class="form-group col-12">
                  <button name="next1" type="button" class="btn btn-primary float-right" [disabled]="!step1Completed"
                    cdkStepperNext>Weiter
                  </button>
                </div>
              </div>
            </div>
          </cdk-step>
          <cdk-step [completed]="step2Completed">
            <div class="formStep" id="f2" formGroupName="category">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <label for="lecture">Fach</label>
                  <select id="lecture" name="fach" class="form-control" size="6" formControlName="subject">
                    <option *ngFor="let sub of subjects">{{sub}}</option>
                  </select>
                </div>
                <div class="form-group col-lg-6">
                  <label for="class">Klasse</label>
                  <select id="class" name="grade" class="form-control" size="6" formControlName="grade">
                    <option *ngFor="let grade of grades">{{grade}}</option>
                  </select>
                </div>
                <div class="form-group col-12">
                  <button name="prev1" type="button" class="btn btn-primary float-left" cdkStepperPrevious>Zurück
                  </button>
                  <button name="next2" type="button" class="btn btn-primary float-right" cdkStepperNext
                    [disabled]="!step2Completed">Weiter
                  </button>
                </div>
              </div>
            </div>
          </cdk-step>
          <cdk-step [completed]="step3Completed">
            <div class="formStep" id="f3" formGroupName="details">
              <div class="form-row">
                <div class="form-group form-group col-lg-6 ml-n1">
                  <label for="location">Ort</label>
                  <div class=" mt-2">
                    <input id="location" name="location" type="text" class="form-control" formControlName="location"
                      [ngbTypeahead]="searchLocation" [inputFormatter]="locationFormatterForm"
                      [resultFormatter]="locationFormatter" />
                    <span *ngIf="searching">Suchen...</span>
                    <div class="invalid-feedback" *ngIf="searchFailed">Entschuldigung, Ortschaft konnte nicht geladen
                      werden.
                    </div>
                    <small
                      *ngIf="step3.get('location').invalid && (step3.get('location').dirty || step3.get('location').touched)"
                      class="form-text text-danger">Bitte gültige Ortschaft auswählen
                    </small>
                  </div>
                </div>
                <div class="form-group col-lg-6">
                  <label>Tag</label><br>
                  <div formGroupName="days">
                    <div class="btn-group btn-group-toggle mt-2 ml-n1">
                      <label class="btn-primary" ngbButtonLabel>
                        <input id="day-monday" name="day" type="checkbox" ngbButton formControlName="monday">
                        Montag
                      </label>
                      <label class="btn-primary" ngbButtonLabel>
                        <input id="day-tuesday" name="day" type="checkbox" ngbButton formControlName="tuesday">
                        Dienstag
                      </label>
                      <label class="btn-primary" ngbButtonLabel>
                        <input id="day-wednesday" name="day" type="checkbox" ngbButton formControlName="wednesday">
                        Mittwoch
                      </label>
                    </div>
                    <div class="btn-group btn-group-toggle mt-2 ml-n1">
                      <label class="btn-primary" ngbButtonLabel>
                        <input id="day-thursday" name="day" type="checkbox" ngbButton formControlName="thursday">
                        Donnerstag
                      </label>
                      <label class="btn-primary" ngbButtonLabel>
                        <input id="day-friday" name="day" type="checkbox" ngbButton formControlName="friday">
                        Freitag
                      </label>
                    </div>
                    <div class="btn-group btn-group-toggle mt-2 ml-n1">
                      <label class="btn-primary" ngbButtonLabel>
                        <input id="day-saturday" name="day" type="checkbox" ngbButton formControlName="saturday">
                        Samstag
                      </label>
                      <label class="btn-primary" ngbButtonLabel>
                        <input id="day-sunday" name="day" type="checkbox" ngbButton formControlName="sunday">
                        Sonntag
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group col-lg-6 ml-n1">
                  <label for="range">Budget maximal (pro Stunde)</label>
                  <input type="range" id="range" name="budget" class="custom-range" formControlName="budget" min="0"
                    max="20">
                  <small class="form-text text-muted" *ngIf="step3.get('budget').value > 0">Aktuelles
                    Budget: {{step3.get('budget').value * 5}}.-</small>
                  <small
                    *ngIf="step3.get('budget').invalid && (step3.get('budget').dirty || step3.get('budget').touched)"
                    class="form-text text-danger">Bitte Budget
                    definieren</small>
                </div>
                <div class="form-group col-lg-6 ml-n1">
                  <label for="problem">Problem</label>
                  <textarea id="problem" name="problem" class="form-control" formControlName="problem"
                    rows="3"></textarea>
                  <small *ngIf="step3.get('problem').invalid && (step3.get('problem').dirty || step3.get('problem').touched)" id="problemhelp"
                         class="form-text text-danger">Bitte schildere dein Problem mit mindestens 20 Zeichen.
                  </small>
                </div>
                <div class="form-group col-12 ml-n1">
                  <button name="prev2" type="button" class="btn btn-primary float-left" cdkStepperPrevious>Zurück
                  </button>
                  <button type="submit" name="submit" id="submit" class="btn btn-primary float-right" [disabled]="!step3Completed">
                    Absenden
                  </button>
                </div>
              </div>
            </div>
          </cdk-step>
        </app-stepper>

      </form>
    </div>
  </div>
</div>

<div class="row" *ngIf="submitted">
  <div class="col-12 text-center">
    <h3 class="mt-5">Vielen Dank für deine Anfrage</h3>
    <fa-icon [icon]="faCheck" class="big-icon icon-green mt-5"></fa-icon>
    <p class="mb-5 text-muted">Du wirst bald die ersten Angebote von einem unserer Anbieter erhalten!</p>
  </div>
</div>
