<div class="row">
  <div class="col-12">
    <h1>Nachhilfe von stay smart</h1>
    <hr>
    <p> Unsere Nachhilfeanbieterinnen und Nachhilfeanbieter helfen Schülerinnen und Schülern allfällige Probleme mit
      dem Schulstoff zu bewältigen. Sie stehen dir auch bei den täglichen Hausaufgaben mit hilfreichen
      Ratschlägen zur Seite.
      <br><br>Die meisten von unseren Anbietern studieren an der ETH, der Uni, den Fachhochschulen oder besuchen
      die BMS oder das Gymnasium. Sie sind mit den Schwierigkeiten des Schulalltags bestens bekannt und kennen
      verschiedenen Strategien, um diesen zu bewältigen.
      <br>Alle unsere Anbieter lernen wir in einem persönlichen Gespräch kennen.
      <br><br>Den maximalen Preis kannst du festlegen. Folglich suchen wir nach einem Anbietenden der unter
      deiner Preisgrenze liegt. Aktuell liegen die Preise der Anbieter/innen zwischen 20 und 50 Franken pro
      Lektion.<br>Unser Vermittlungsservice ist vollkommen kostenlos!</p>
    <hr>
  </div>
</div>

<div class="form-wrapper" *ngIf="!submitted">
  <div class="row mt-md-4 mt-3">
    <div class="col-12 col-md-10 offset-md-1">
      <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

        <app-stepper linear>
          <cdk-step [completed]="step1Completed">
            <div class="formStep" id="f1">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <label for="firstname">Vorname</label>
                  <input id="firstname" #firstname="ngModel" name="firstname" type="text" class="form-control"
                         [class.is-invalid]="firstname.invalid && (firstname.dirty || firstname.touched)" required
                         [(ngModel)]="tutorSearchRequest.firstname">
                </div>
                <div class="form-group col-lg-6">
                  <label for="name">Name</label>
                  <input id="name" #name="ngModel" name="lastname" type="text" class="form-control" required
                         [class.is-invalid]="name.invalid && (name.dirty || name.touched)"
                         [(ngModel)]="tutorSearchRequest.name">
                </div>
                <div class="form-group col-lg-6">
                  <label for="mail">Email</label>
                  <input id="mail" name="mail" #mail="ngModel" type="text" class="form-control" required email
                         [class.is-invalid]="mail.invalid && (mail.dirty || mail.touched)"
                         [(ngModel)]="tutorSearchRequest.mail">
                  <small *ngIf="mail.invalid && (mail.dirty || mail.touched)" id="emailhelp"
                         class="form-text text-danger">
                    Keine gültige Email eingegeben
                  </small>
                </div>
                <div class="form-group col-lg-6">
                  <label for="phone">Mobiltelefon</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">+41</div>
                    </div>
                    <input id="phone" name="phone" type="text" class="form-control"
                           [class.is-invalid]="phone.invalid && (phone.dirty || phone.touched)" required pattern="\d{9}"
                           [(ngModel)]="tutorSearchRequest.phone" #phone="ngModel">
                  </div>
                  <small *ngIf="phone.invalid && (phone.dirty || phone.touched)" id="phonehelp"
                         class="form-text text-danger">
                    Die Telefonnummer ohne führende 0 eingeben
                  </small>
                </div>
                <div class="form-group col-12">
                  <button name="next1" type="button" [disabled]="!step1Completed" class="btn btn-primary float-right"
                          cdkStepperNext>Weiter
                  </button>
                </div>
              </div>
            </div>
          </cdk-step>
          <cdk-step [completed]="step2Completed">
            <div class="formStep" id="f2">
              <div class="form-row">
                <div class="form-group col-lg-6">
                  <label for="lecture">Fach</label>
                  <select class="form-control" name="fach" id="lecture" size="6"
                          [(ngModel)]="tutorSearchRequest.subject"
                          required
                          #lecture="ngModel">
                    <option *ngFor="let sub of subjects">{{sub}}</option>
                  </select>
                </div>
                <div class="form-group col-lg-6">
                  <label for="class">Klasse</label>
                  <select class="form-control" name="grade" id="class" size="6" [(ngModel)]="tutorSearchRequest.grade"
                          required
                          #grade="ngModel">
                    <option *ngFor="let grade of grades">{{grade}}</option>
                  </select>
                </div>
                <div class="form-group col-12">
                  <button name="prev1" type="button" class="btn btn-primary float-left" cdkStepperPrevious>Zurück
                  </button>
                  <button name="next2" type="button" class="btn btn-primary float-right" [disabled]="!step2Completed"
                          cdkStepperNext>Weiter
                  </button>
                </div>
              </div>
            </div>
          </cdk-step>
          <cdk-step [completed]="step3Completed">
            <div class="formStep" id="f3">
              <div class="form-row">
                <div class="form-group form-group col-lg-6 ml-n1">
                  <label for="location">Ort</label>
                  <div class=" mt-2">
                    <input id="location" #location="ngModel" name="location" type="text" class="form-control"
                           [class.is-invalid]="searchFailed || location.invalid && (location.dirty || location.touched)"
                           appLocationDomain [(ngModel)]="tutorSearchRequest.location" [ngbTypeahead]="searchLocation"
                           [inputFormatter]="locationFomratterForm" [resultFormatter]="locationFormatter"/>
                    <span *ngIf="searching">Suchen...</span>
                    <div class="invalid-feedback" *ngIf="searchFailed">Entschuldigung, Ortschaft konnte nicht geladen
                      werden.
                    </div>
                    <small *ngIf="location.invalid && (location.dirty || location.touched)" id="locationhelp"
                           class="form-text text-danger">Bitte gültige Ortschaft auswählen
                    </small>
                  </div>
                </div>
                <!--https://api3.geo.admin.ch/rest/services/api/SearchServer?searchText=stäfa&type=locations&origins=gg25 request to this url for validation-->

                <div class="form-group col-lg-6">
                  <label>Tag</label><br>
                  <div class="btn-group btn-group-toggle mt-2 ml-n1">
                    <label class="btn-primary" ngbButtonLabel>
                      <input id="day-monday" name="day" type="checkbox" ngbButton
                             [(ngModel)]="tutorSearchRequest.days.monday">
                      Montag
                    </label>
                    <label class="btn-primary" ngbButtonLabel>
                      <input id="day-tuesday" name="day" type="checkbox" ngbButton
                             [(ngModel)]="tutorSearchRequest.days.tuesday">
                      Dienstag
                    </label>
                    <label class="btn-primary" ngbButtonLabel>
                      <input id="day-wednesday" name="day" type="checkbox" ngbButton
                             [(ngModel)]="tutorSearchRequest.days.wednesday">
                      Mittwoch
                    </label>
                  </div>
                  <div class="btn-group btn-group-toggle mt-2 ml-n1">
                    <label class="btn-primary" ngbButtonLabel>
                      <input id="day-thursday" name="day" type="checkbox" ngbButton
                             [(ngModel)]="tutorSearchRequest.days.thursday">
                      Donnerstag
                    </label>
                    <label class="btn-primary" ngbButtonLabel>
                      <input id="day-friday" name="day" type="checkbox" ngbButton
                             [(ngModel)]="tutorSearchRequest.days.friday">
                      Freitag
                    </label>
                  </div>
                  <div class="btn-group btn-group-toggle mt-2 ml-n1">
                    <label class="btn-primary" ngbButtonLabel>
                      <input id="day-saturday" name="day" type="checkbox" ngbButton
                             [(ngModel)]="tutorSearchRequest.days.saturday">
                      Samstag
                    </label>
                    <label class="btn-primary" ngbButtonLabel>
                      <input id="day-sunday" name="day" type="checkbox" ngbButton
                             [(ngModel)]="tutorSearchRequest.days.sunday">
                      Sonntag
                    </label>
                  </div>
                </div>
                <div class="form-group col-lg-6 ml-n1">
                  <label for="range">Budget maximal (pro Stunde)</label>
                  <input type="range" name="budget" #budget="ngModel" class="custom-range" min="0" max="20" id="range"
                         [(ngModel)]="tutorSearchRequest.budget" required>
                  <small class="form-text text-muted" *ngIf="tutorSearchRequest.budget">Aktuelles
                    Budget: {{tutorSearchRequest.budget * 5}}.-</small>
                  <small *ngIf="budget.invalid" id="budgethelp" class="form-text text-danger">Bitte Budget
                    definieren</small>
                </div>
                <div class="form-group col-lg-6 ml-n1">
                  <label for="problem">Problem</label>
                  <textarea class="form-control" name="problem" #problem="ngModel" id="problem" rows="3" required
                            minlength="20" [(ngModel)]="tutorSearchRequest.problem"></textarea>
                </div>
                <div class="form-group col-12 ml-n1">
                  <button name="prev2" type="button" class="btn btn-primary float-left" cdkStepperPrevious>Zurück
                  </button>
                  <button type="submit" name="submit" class="btn btn-primary float-right"
                          [disabled]="budget.invalid || problem.invalid || location.invalid || !step3Completed">
                    Absenden
                  </button>
                </div>
              </div>
            </div>
          </cdk-step>
        </app-stepper>

      </form>
    </div>
  </div>
</div>

<div class="row" *ngIf="submitted">
  <div class="col-12 text-center">
    <h3 class="mt-5">Vielen Dank für deine Anfrage</h3>
    <fa-icon [icon]="faCheck" class="big-icon icon-green mt-5"></fa-icon>
    <p class="mb-5 text-muted">Du wirst blad die ersten Angebote von einem unserer Anbieter erhalten!</p>
  </div>
</div>
