<div class="text-center my-5">
  <div class="row">
    <div class="col-12">
      <h1 class="text-left">Team</h1>
    </div>
  </div>
  <div class="row my-4">
    <div class="col-12">
      <h2 class="text-left">Quality & Client Service</h2>
      <hr>
    </div>
    <!-- Grid column -->
    <div class="col-md-4 offset-1 my-3">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded z-depth-1-half"
          alt="Profilbild">
      </div>
      <h4 class="font-weight-bold text-dark my-3">Gianna Schläpfer</h4>
      <h6 class="text-uppercase font-weight-light mb-3"><strong>Bereichsleiterin Quality & Client Service </strong>
      </h6>
      <p class="mb-1"><b>Im Verein seit</b><br>
        2018</p>
      <p class="mb-1"><b>Beruf</b><br>
        Schülerin</p>
      <p class="mb-1"><b>Jahrgang</b><br>
        2000</p>
    </div>
    <!-- Grid column -->
    <div class="col-md-4 offset-2 my-3">
      <div class="avatar mx-auto">
        <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded z-depth-1-half"
          alt="Profilbild">
      </div>
      <h4 class="font-weight-bold text-dark my-3">Marita Hotz</h4>
      <h6 class="text-uppercase font-weight-light mb-3"><strong>Vermittlung</strong>
      </h6>
      <p class="mb-1"><b>Im Verein seit</b><br>
        2018</p>
      <p class="mb-1"><b>Studentin</b><br>
        Schülerin</p>
      <p class="mb-1"><b>Jahrgang</b><br>
        1997</p>
    </div>
  </div>

  <div class="row my-4">
      <div class="col-12">
        <h2 class="text-left">PR & Marketing</h2>
        <hr>
      </div>
      <!-- Grid column -->
      <div class="col-md-4 my-3">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded z-depth-1-half"
            alt="Profilbild">
        </div>
        <h4 class="font-weight-bold text-dark my-3"> Gianna Schläpfer</h4>
        <h6 class="text-uppercase font-weight-light mb-3"><strong>Bereichsleiterin Quality & Client Service </strong>
        </h6>
        <p class="mb-1"><b>Im Verein seit</b><br>
          2018</p>
        <p class="mb-1"><b>Beruf</b><br>
          Schülerin</p>
        <p class="mb-1"><b>Jahrgang</b><br>
          2000</p>
      </div>
      <!-- Grid column -->
      <div class="col-md-4 my-3">
        <div class="avatar mx-auto">
          <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded z-depth-1-half"
            alt="Profilbild">
        </div>
        <h4 class="font-weight-bold text-dark my-3"> Gianna Schläpfer</h4>
        <h6 class="text-uppercase font-weight-light mb-3"><strong>Bereichsleiterin Quality & Client Service </strong>
        </h6>
        <p class="mb-1"><b>Im Verein seit</b><br>
          2018</p>
        <p class="mb-1"><b>Beruf</b><br>
          Schülerin</p>
        <p class="mb-1"><b>Jahrgang</b><br>
          2000</p>
      </div>
       <!-- Grid column -->
       <div class="col-md-4 my-3">
          <div class="avatar mx-auto">
            <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(10).jpg" class="rounded z-depth-1-half"
              alt="Profilbild">
          </div>
          <h4 class="font-weight-bold text-dark my-3"> Gianna Schläpfer</h4>
          <h6 class="text-uppercase font-weight-light mb-3"><strong>Bereichsleiterin Quality & Client Service </strong>
          </h6>
          <p class="mb-1"><b>Im Verein seit</b><br>
            2018</p>
          <p class="mb-1"><b>Beruf</b><br>
            Schülerin</p>
          <p class="mb-1"><b>Jahrgang</b><br>
            2000</p>
        </div>
    </div>
</div>