<div class="row mt-5">
  <div class="col-12">
    <h1 class="text-left">stay smart in der Presse</h1>
    <hr>
  </div>
</div>
<div class="row mt-3">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        Nachrichten aus Greifensee - <i>April 2019</i>
      </div>
      <img src="assets/img/team.jpg" class="card-img-top" alt="Pressebild">
      <div class="card-body">
        <h5 class="card-title">Nachhilfe gesucht?</h5>
        <hr>
        <p class="card-text">Unter dem Slogan «stay smart, stay young» setzt sich ein junges Team für die Bildung der
          Schülerinnen und Schüler in Greifensee und Umgebung ein. Der Verein «Stay Smart» bietet Nachhilfestunden für
          Jugendliche von Jugendlichen und sorgt via die Plattform www.staysmart.ch für das Zusammenfinden von Bietenden
          und Suchenden.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        Maurer Post - <i>September 2016</i>
      </div>
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Jugend unterrichtet Jugend</h5>
        <p class="card-text">stay smart, eine Online-Vermittlungsplattform für Nachhilfe, ist von Jugendlichen in
          Greifensee gegründet worden. Junge Leute sollen so zu einem Nebenjob kommen und Schüler mit Bedarf zu einem
          Nachhilfelehrer. Im zweiten Jahr bereits erfolgreich unterwegs, soll nun expandiert werden.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>
<div class="row mt-3 mb-5">
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        regio.ch - <i>Juni 2016</i>
      </div>
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Wenn Schüler zu Lehrern werden</h5>
        <p class="card-text">Vor eineinhalb Jahren gründeten Jugendliche eine Internetplattform, auf der junge
          Nachhilfelehrer ihre Dienste anbieten können. Das Projekt ist gut angelaufen, und nun soll expandiert werden.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
      <div class="card-header">
        regio.ch - <i>Februar 2015</i>
      </div>
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Attraktiver Nebenjob für Schüler</h5>
        <p class="card-text">Ein neues Nachhilfeangebot in Greifensee bringt Suchende und Wissende zusammen. Gestartet
          wurde das Projekt von der Jugendkommission mit dem Ziel, Jugendlichen aus der Region Nebenjobs zu bieten.
        </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>