<h3>Für dich</h3>
<ng-container *ngIf="tutorPortalUser$ | async as tutorPortalUser">
  <div *ngFor="let tutorSearchRequest of matchingTutorSearchRequests$ | async" class="row">
    <div class="col-12 my-4">
      <app-tutor-portal-request-detail [tutorSearchRequest]="tutorSearchRequest" [isDeclinable]="true"
                                       (declined)="onDecline(tutorSearchRequest)"
                                       [hasSent]="hasSent(tutorPortalUser.sentOffers, tutorSearchRequest.id)">
      </app-tutor-portal-request-detail>
    </div>
  </div>
</ng-container>
