<ng-container *ngIf="currentRoute$ | async as currentRoute">
  <div *ngIf="currentRoute === '/anfragen'" class="jumbotron img-jumbo text-white banner"
       [style.background-image]="'url(assets/img/anfragen_unscharf.png)'">
    <div class="container">
      <h1 class='display-4'>Anfrage erstellen</h1>
    </div>
  </div>

  <div *ngIf="currentRoute === '/anbieten'" class="jumbotron img-jumbo text-white banner"
       [style.background-image]="'url(assets/img/anbieten_unscharf.png)'">
    <div class="container">
      <h1 class='display-4'>Nachhilfe anbieten</h1>
    </div>
  </div>
</ng-container>



