<nav class="navbar navbar-expand-md navbar-dark custom-navbar">
  <a class="navbar-brand" href="#">
    <img src="assets/img/logo.png" width="32" height="32" class="d-inline-block align-top" alt="stay smart logo">
    stay smart
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="suchen/suchen.html">Nachhilfe suchen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="anbieten/anbieten.html">Nachhilfe anbieten</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="anderes/eltern.html">Für Eltern</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="anderes/staysmart.html">Verein stay smart</a>
      </li>
    </ul>
    <hr class="d-md-none">
    <div class="my-2 my-lg-0">
      <p class="navbar-nav mr-sm-2 text-white">Version: {{version}}</p>
    </div>
  </div>
</nav>
<div class="jumbotron img-jumbo text-white">
  <div class="container">
    <h1 class="display-4">Willkommen auf stay smart!</h1>
    <p class="lead">Die simple Nachhilfvermittlung für alle Klassenstufen</p>
    <hr class="my-4">
    <p>Nachhilfelherer suchen?</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">Anfrage erstllen</a>
    </p>
  </div>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>