.custom-navbar {
    background-color: #777777
}

.img-jumbo {
    background-image: url('../../../assets/img/background.jpg');
    background-position: left bottom;
    background-size: cover;
    border-radius: 0;
}
