.custom-navbar {
    background-color: #777777
}

.img-jumbo {
    background-position: left bottom;
    background-size: cover;
    border-radius: 0;
}

.footer {
    height: 56px;
    background-color: #777777;
    color: white;
}