<div class="row">
    <div class="col-12">
        <h1>Nachhilfe von stay smart</h1>
        <hr>
        <p> Unsere Nachhilfeanbieterinnen und Nachhilfeanbieter helfen Schülerinnen und Schülern allfällige Probleme mit
            dem Schulstoff zu bewältigen. Sie stehen dir auch bei den täglichen Hausaufgaben mit hilfreichen
            Ratschlägen zur Seite.
            <br><br>Die meisten von unseren Anbietern studieren an der ETH, der Uni, den Fachhochschulen oder besuchen
            die BMS oder das Gymnasium. Sie sind mit den Schwierigkeiten des Schulalltags bestens bekannt und kennen
            verschiedenen Strategien, um diesen zu bewältigen.
            <br>Alle unsere Anbieter lernen wir in einem persönlichen Gespräch kennen.
            <br><br>Den maximalen Preis kannst du festlegen. Folglich suchen wir nach einem Anbietenden der unter
            deiner Preisgrenze liegt. Aktuell liegen die Preise der Anbieter/innen zwischen 20 und 50 Franken pro
            Lektion.<br>Unser Vermittlungsservice ist vollkommen kostenlos!</p><hr>
    </div>
</div>
<div class="row mt-md-4 mt-3">
    <div class="col-12 col-md-10 offset-md-1">
        <div class="formStep" id="f1">
            <div class="form-row">
                <div class="form-group col-lg-6">
                    <label for="firstname">Vorname</label>
                    <input id="firstname" name="firstname" type="text" class="form-control">
                </div>
                <div class="form-group col-lg-6">
                    <label for="name">Name</label>
                    <input id="name" name="name" type="text" class="form-control">
                </div>
                <div class="form-group col-lg-6">
                    <label for="mail">Email</label>
                    <input id="mail" name="mail" type="text" class="form-control">
                </div>
                <div class="form-group col-lg-6">
                    <label for="phone">Mobiltelefon</label>
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <div class="input-group-text">+41</div>
                        </div>
                        <input id="phone" name="phone" type="text" class="form-control">
                    </div>
                </div>
                <div class="form-group col-12">
                    <button name="submit" type="submit" (click)="nextStep()"
                        class="btn btn-primary float-right custom-btn-blue">Weiter</button>
                </div>
            </div>
        </div>
        <div class="formStep" id="f2" style="display:none">
            <div class="form-row">
                <div class="form-group col-lg-6">
                    <label for="lecture">Fach</label>
                    <select class="form-control" id="lecture" size="4">
                        <option>Mathematik</option>
                        <option>Deutsch</option>
                        <option>Englisch</option>
                        <option>Französisch</option>
                        <option>Physik</option>
                    </select>
                </div>
                <div class="form-group col-lg-6">
                    <label for="class">Klasse</label>
                    <select class="form-control" id="class" size="4">
                        <option>1. - 3. Klasse</option>
                        <option>4. - 6. Klasse</option>
                        <option>Sekundarstufe</option>
                        <option>Gymnasium</option>
                        <option>Gymnasium Vorbereitung</option>
                    </select>
                </div>
                <div class="form-group col-12">
                    <button name="submit" type="submit" (click)="prevStep()"
                        class="btn btn-primary float-left custom-btn-blue">Zurück</button>
                    <button name="submit" type="submit" (click)="nextStep()"
                        class="btn btn-primary float-right custom-btn-blue">Weiter</button>
                </div>
            </div>
        </div>
        <div class="formStep" id="f3" style="display:none">
            <div class="form-row">
                <div class="form-group col-lg-6">
                    <label for="location">Ort</label>
                    <input id="location" name="location" type="text" class="form-control">
                </div>
                <div class="form-group col-lg-6">
                    <label for="time">Zeitpunkt</label>
                    <input id="time" name="time" type="text" class="form-control">
                </div>
                <div class="form-group col-lg-6">
                    <label for="range">Budget maximal 20 - 100.-</label>
                    <input type="range" class="custom-range" min="0" max="8" id="range">
                </div>
                <div class="form-group col-lg-6">
                    <label for="problem">Problem</label>
                    <textarea class="form-control" id="problem" rows="3"></textarea>
                </div>
                <div class="form-group col-12">
                    <button name="submit" type="submit" (click)="prevStep()"
                        class="btn btn-primary float-left custom-btn-blue">Zurück</button>
                    <a href="abgeschlossen.html" class="btn btn-primary float-right custom-btn-blue">Absenden</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row mb-md-4">
    <div class="stepper">
        <div class="step active-step">
            <span class="step-number s1"></span>
        </div>
        <span class="progress p1"></span>
        <div class="step">
            <span class="step-number s2"></span>
        </div>
        <span class="progress p2"></span>
        <div class="step">
            <span class="step-number s3"></span>
        </div>
    </div>
</div>