.img-jumbo {
  background-position: left bottom;
  background-size: cover;
  border-radius: 0;
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}

.footer {
  grid-row-start: 2;
  grid-row-end: 3;
  height: 56px;
  background-color: #777777;
  color: white;
}
