<div class="wrapper">
  <div>
    <nav class="navbar navbar-expand-md navbar-dark custom-navbar">
      <span class="navbar-brand">
        <img src="assets/img/logo.png" width="32" height="32" class="d-inline-block align-top" alt="stay smart logo">
        Anbieter-Portal
      </span>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
              aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="dashboard" routerLinkActive="active">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="request-list" routerLinkActive="active">Anfragen</a>
          </li>

          <!--
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false">
              Verein
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" [routerLink]="['/verein']">Über uns</a>
              <a class="dropdown-item" [routerLink]="['/team']">Mitglieder</a>
              <a class="dropdown-item" [routerLink]="['/sponsoren']">Sponsoren</a>
              <a class="dropdown-item" [routerLink]="['/presse']">Presse</a>
            </div>
          </li>
          -->
        </ul>
        <hr class="d-md-none">
        <div class="my-2 my-lg-0">
          <p class="navbar-nav mr-sm-2 text-white">Version: {{version}}</p>
        </div>
      </div>
    </nav>
    <div class="container">
      <button class="btn btn-primary" (click)="logout()">Logout</button>
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="m-3">2019 - stay smart</p>
        </div>
        <div class="col-3 d-flex justify-content-end my-auto">
          <img src="assets/img/logo.png" width="40" height="40" class="d-inline-block align-top" alt="stay smart logo">
        </div>
      </div>
    </div>
  </footer>
</div>

