<div class="wrapper">
  <div>
    <app-tp-navigation [tutor]="tutor$ | async" (logout)="logout()"></app-tp-navigation>
    <div class="container py-4">
      <router-outlet></router-outlet>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col">
          <p class="m-3">2019 - stay smart</p>
        </div>
        <div class="col-3 d-flex justify-content-end my-auto">
          <img src="assets/img/logo.png" width="40" height="40" class="d-inline-block align-top" alt="stay smart logo">
        </div>
      </div>
    </div>
  </footer>
</div>

