<div class="container">
  <h1>Nachhilfe-Portal Login</h1>
  <hr>

  <form class="row justify-content-center" [formGroup]="loginForm" (ngSubmit)="login()">
    <div class="col-lg-5 col-md-6 col-sm-7">
      <!-- TODO shake animation on error -->
      <div *ngIf="eventAuthError$ | async as eventAuthError" class="alert alert-danger" role="alert">
        {{eventAuthError}}
      </div>
      <div class="form-group">
        <input type="email" class="form-control" id="email" placeholder="E-mail" formControlName="email">
      </div>
      <div class="form-group">
        <input type="password" class="form-control" id="password" placeholder="Passwort" formControlName="password">
      </div>
      <button class="btn btn-primary btn-block" type="submit" [disabled]="loginForm.invalid">
        <span *ngIf="!isLoading">Login</span>
        <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true">
          <span class="sr-only">Loading...</span>
        </span>
      </button>
    </div>
  </form>
</div>

