.custom-navbar, .dropdown-menu {
  background-color: #777777
}

.dropdown-menu a {
  color: rgba(255,255,255,.5);
}

.dropdown-menu a:hover {
  color: #fff;
  background-color: #777777
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: 1fr auto;
}
